@charset "UTF-8";
@import "../common/common";
@import "../module/ui-hall";
body,html{
	background-color:#eee;
}
.mod-page{
	// padding:20px 25px 0 23px;
	.ui-iscroll {
	    position: absolute;
	    z-index: 1;
	    top: 20px;
	    bottom: 0;
	    left: 23px;
	    right: 0;
	    overflow: auto;
		ul{
			/*样式已经放在公共样式的区域，虽然感觉代码较少没有必要，但是利于后期维护*/
		}
	}
}
