.ui-input {
    border: 1px solid #e2e2e2;
    /*no*/
    padding: 10px 20px;
    color: #333;
    &:focus {
        border-color: #40d1ad;
    }
}

.ui-input-error {
    border-color: #ec3e48;
}

.ui-input-focus {
    border-color: #40d1ad;
}

.ui-input-disabled,
.ui-input[disabled] {
    border-color: #ccc;
    background-color: #eee;
    color: #555;
    &:focus {
        border-color: #eee;
        color: #fff;
    }
}
